$fontsize: 16px;
$lineheight: 1.65;
$grid-gutter-width: 24px;
$gutter: $grid-gutter-width;

$text:#424E55;
$text-light:#B3B9BD;
$text-ultra-light:#D2D5D7;

$accent:#28CDB5;
$accent-light:#32d7bf;

$primary: #6EA0FF;
$primary-dark:#3379ff;
$primary-light: #F8FAFF;

$orange:#FAA018;
$orange-light:#FFFAF2;

$red: #F55449;
$red-light:#FFF5F4;