.ttd-btn {
  border-radius: 4px;
  transition:all 200ms;

  &_accent {
    color: #fff;
    background: $accent;
    font-family: Roboto medium;

    &:hover {
      background:$accent-light;
    }
  }

  &_light {
    box-shadow: 0 1px 2px rgba(21, 21, 21, 0.1);
    border:1px solid #EDEEEF;
    background:#ffffff;
    color:#B3B9BD;

    svg * {
      transition: all 200ms
    }

    &:hover {
      color:$text;

      * {
        fill: $text;
      }
    }
  }

  // Sizes
  &_lg {
    border-radius: 6px;
    padding: 0.5rem 3rem;
    font-family: Roboto bold;
  }
}

.ttd-text {
  &-primary {
    color:$primary;
  }

  &-accent {
    color:$accent;
  }

  &-dark {
    color:$text;
  }

  &-light {
    color:$text-light;
  }

  &-red {
    color:$red;
  }
}